<html>
<head>
    <link rel="stylesheet" type="text/css"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"/>
    <link rel="stylesheet" type="text/css"
          href="https://www.collinsongroup.com/Content/dist/css/style.min.css?v=63704489804">
    <script src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
    <script type="text/javascript" src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>
</head>
<body>
<div class="container n1ed_be_tmp">
    <div class="row n1ed_be_tmp">
        <div class="col-12 n1ed_be_tmp"></div>
    </div>
</div>
<div class="container">
    <div class="row n1ed_be_tmp">
        <div class="col-12 n1ed_be_tmp"></div>
    </div>
    <div class="row">
        <div class="col-12">
            <p>&nbsp;</p>
        </div>
    </div>
    <div class="row n1ed_be_tmp">
        <div class="col-12 n1ed_be_tmp"></div>
    </div>
</div>
<div class="container n1ed_be_tmp">
    <div class="row n1ed_be_tmp">
        <div class="col-12 n1ed_be_tmp"></div>
    </div>
</div>
<div class="container">
    <div class="row n1ed_be_tmp">
        <div class="col-12 n1ed_be_tmp"></div>
    </div>
    <div class="row">
        <div class="col-12 col-md-3">
            <h2>Lounge Bouncer</h2>
            <p>Lounge Bouncer is a self service check-in system provided to you by Collinson</p>
        </div>
        <div class="col-12 col-md-6">
            <p>Welcome to {{lounge_name}} lounge</p>
            <p>Please enter your membership number to continue</p>
            <form method="post" action="" id="entryForm">
                {{ form.csrf_token }}
                <input type="text" name="membershipNo" id="membershipNo" />
            </form>
            The lounge capacity estimation:
            <div class="progress-bar">
                <span></span>
            </div>
        </div>
        <div class="col-12 col-md-3">
            <p>&nbsp;</p>
        </div>
    </div>
    <div class="row n1ed_be_tmp">
        <div class="col-12 n1ed_be_tmp"></div>
    </div>
</div>
<div class="container n1ed_be_tmp">
    <div class="row n1ed_be_tmp">
        <div class="col-12 n1ed_be_tmp"></div>
    </div>
</div>
<div class="container">
    <div class="row n1ed_be_tmp">
        <div class="col-12 n1ed_be_tmp"></div>
    </div>
    <div class="row">
        <div class="col-12">
            <p>&nbsp;</p>
        </div>
    </div>
    <div class="row n1ed_be_tmp">
        <div class="col-12 n1ed_be_tmp"></div>
    </div>
</div>
<div class="container n1ed_be_tmp">
    <div class="row n1ed_be_tmp">
        <div class="col-12 n1ed_be_tmp"></div>
    </div>
</div>
</body>
<footer class="main-footer" id="page-footer">
    <div class="container">
        <div class="logo-wrap">
            <a href="https://www.collinsongroup.com/en-eur"><img
                    src="https://www.collinsongroup.com:443/-/media/collinson/company-logos/footer-logo.png?h=94&amp;w=426&amp;la=en&amp;hash=1C8FCC5BA682A72F596F7305212AF1DB58BA70C6"
                    height="94" width="426" alt="Collinson Logo"></a></div>
        <div class="social-wrap">
            <a href="https://twitter.com/Collinson/" target="_blank"> <span class="hidden">Twitter</span>
                <i class="fa fa-twitter fa-fw" aria-hidden="true"></i>
            </a><a href="https://www.linkedin.com/company/collinson/" target="_blank"> <span
                class="hidden">Linkedin</span>
            <i class="fa fa-linkedin fa-fw" aria-hidden="true"></i>
        </a>
        </div>
        <div class="footer-links">
            <div class="footer-link-wrap">
                <a href="https://www.collinsongroup.com/en-eur/accessibility">Accessibility</a>
            </div>
            <div class="footer-link-wrap">
                <a href="https://www.collinsongroup.com/en-eur/privacy-policy">Privacy Policy</a>
            </div>
            <div class="footer-link-wrap">
                <a href="https://www.collinsongroup.com/en-eur/terms-of-use">Terms of Use</a>
            </div>
            <div class="footer-link-wrap">
                <a href="https://www.collinsongroup.com/en-eur/cookie-policy">Cookie Policy</a>
            </div>
            <div class="footer-link-wrap">
                <a href="https://www.collinsongroup.com/en-eur/legal-statements">Legal statements</a>
            </div>
            <div class="footer-link-wrap no-pipe">
                <a href="https://www.collinsongroup.com/en-eur/who-we-are">Who we are</a>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="copyright-inner-wrap">
                © 2019 Collinson International Limited. Registered in England &amp; Wales under registration No. 2577557
            </div>
            <div class="copyright-inner-wrap">
                Registered address : Cutlers Exchange, 123 Houndsditch, London, EC3A 7BU, UK
            </div>
        </div>
    </div>
</footer>
<div id="chartContainer" style="height: 370px; width: 100%;"></div>
</html>
<script>
    var lengthConst = 10;
    {% for key in hourList %}
        console.log({{key}});
    {% endfor %}

    var options = {
        title: {
            text: "Lounge capacity usage"
        },
        data: [
        {
            // Change type to "doughnut", "line", "splineArea", etc.
            type: "column",
            dataPoints: [
                {% for key in hourList %}
                    { label: "{{key-1}}:00 - {{key}}:00",  y: {{ hourList[key] }}  },
                {% endfor %}
            ]
        }
        ]
    };

    function pullCapacity(){
        var bodyCount;
	    $.ajax({url:'/capacity'}).done(function(cap){
	        console.log(cap);

            var capacityClass;
            if (cap <= 33){
                capacityClass='green'
            }
            else if (cap <= 65){
                capacityClass='orange'
            }
            else {
                capacityClass='red'
            }

            var capacityFillPercentage = "" + cap + "%";
            $('.progress-bar>span').addClass(capacityClass);
	        $('.progress-bar>span').css('width', capacityFillPercentage);
	        $('.progress-bar>span').text(capacityFillPercentage);
        });
    }

    function pullCameraResult(){
	    $.ajax({url:'/camera'}).success(function(membershipId){
	        console.log("/camera endpoint responded with:");
	        console.log(membershipId);
            $('#membershipNo').val(membershipId);
            $('#membershipNo').change();
        });
    }

    $('#membershipNo').on("input", function(event){
        console.log("#membershipNo input event triggered");
        if(event.target.value.length == lengthConst){
            console.log("#membershipNo submitting form");
            $('#entryForm').submit();
        }
    });

    $('#membershipNo').on("change", function(event){
        console.log("#membershipNo change event triggered");
        if(event.target.value.length == lengthConst){
            console.log("#membershipNo submitting form");
            $('#entryForm').submit();
        }
    });


    $(document).ready(function() {
        pullCapacity();
        pullCameraResult();
        $("#chartContainer").CanvasJSChart(options);
    });

    window.setInterval(function() {
        pullCapacity();
        pullCameraResult();
    }, 5000);
</script>